body {

}

/* Estilos contenedor principal de toda la pagina */
.container-main {
    background-repeat: no-repeat;
    height: 100vh;
    background-image: url(../img/bowl.jpg);
    background-size: cover;
    opacity: 0.9;
}

/* Estilos de la barra de navegacion de arriba*/
.navbar {
    background-color: transparent;
    position: fixed;
    font-size: larger;
}
/* Estilos de la barra desplegada en movil */
.navbar-nav {
    text-align: center;
    font-size: large;
    font-weight: 100;
}

/* Estilos del logo de la pagina (superior izquierda) */
.imgLogo {
    margin-left: 20px;
    width: 100px;
    height: 50px;
}

/* MEDIA QUERIES Para Responsive */
@media (max-width: 360px){

    .container-main {
        background-image: url(../img/bowl360px.jpg);
    }
}

@media (min-width: 1600px){

    .navbar a {
        margin-left: 30px;
    }
    .imgLogo {
        margin-left: 0px;
        width: 150px;
        height: 70px;
    }
}

