body {}

.container-main {
    background-color: antiquewhite;
    height: 150vh;
}

.navbar {
    background-color: rgb(255, 255, 255);
    position: fixed;
}

.navbar-nav {
    text-align: center;

}

.imgLogo {
    width: 100px;
    height: 50px;
}

hr {
    margin: 0;
}