/* Estilos contenedor principal de toda la pagina */
.container-main {
    height: 100%;
    background-color: black;
}

/* Estilos del navbar desplegada en movil */
.navbar-nav {
    text-align: center;
    font-size: large;
    font-weight: 100;
}

/* Estilos de la barra de navegacion de arriba*/
.navbar {
    background-color: black;
    position: fixed;
    font-size: larger;
    width: 100vw;
    padding-right: 20px;
    padding-left: 5px;
    margin-left: -12px;
    z-index: 1;
}


/* Estilos de los links del navbar desplegable */
.navbar-nav a {
    margin-top: 15px;
}

/* Estilos del logo de la pagina (superior izquierda) */
.imgLogo {
    width: 100px;
    height: 50px;
}

/* Estilos de la primera row (navbar) */
.row1 {
    height: 13vh;

}

/* Estilos apartado de informacion de contacto */
.info {
    color: white;
    text-align: center;
}

/* Estilos del formulario */
form {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

form label {
    margin-top: 10px
}

.inputform {
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.719);
}
/* Estilos boton del formulario */
.boton{
    background-color: grey;
    border-color: black;
}

/* Estilos de los botones de redes sociales */
.col5 button {
    border: 0;
    font-size: small;
}

/* Estilos del texto "Siguenos en redes sociales" */
.col5 p {
    color: rgba(255, 255, 255, 0.753);
    font-size: small;
    margin-bottom: 2px;
}



/* Media query para PC ordenador >1600px */
@media (min-width: 1600px) {

    /* Estilos de los links del navbar */
    .navbar a {
        margin-left: 30px;
    }

    /* Estilos de la imagen de los cards de la carta */
    .carta img {
        opacity: 0.8;
    }

    /* Estilos del logo de la pagina */
    .imgLogo {
        width: 175px;
        height: 85px;
    }

    /* Estilos del cuerpo de las cards del menu */
    .carta {
        width: 100%;
        background-color: transparent;
    }

    .cartas {
        margin: 0;
    }

    /* Estilos del primer row (navbar) */
    .row1 {
        height: 15vh;
    }

    /* Estilos del row de los parrafos */
    .row2 {
        height: 100%;
    }

    /* Estilo del cuerpo del form */
    fieldset {
        width: 35%;
    }

    /* Estilo de los inputs del form */
    .inputform {
        margin-top: 10px;
        background-color: rgba(255, 255, 255, 0.719);
    }

    form button {
        width: 10vw;
    }

    /* Estilos del iframe del mapa */
    iframe {
        width: 50%;
        height: 50vh;
    }
}