
/* Estilos contenedor principal de toda la pagina */
.container-main {
    background-repeat: no-repeat;
    height: 100vh;
    background-image: url(../img/bowl.jpg);
    background-size: cover;
}

/* Estilos de la barra de navegacion de arriba*/
.navbar {
    background-color: black;
    position: fixed;
    font-size: larger;
    width: 100vw;
    padding-right: 25px;
}

/* Estilos del navbar desplegada en movil */
.navbar-nav {
    text-align: center;
    font-size: large;
    font-weight: 100;
}

/* Estilos de los links del navbar desplegable */
.navbar-nav a {
    margin-top: 15px;
}

/* Estilos del logo de la pagina (superior izquierda) */
.imgLogo {
    width: 100px;
    height: 50px;
}

/* Estilos de la primera row (navbar) */
.row1 {
    height: 17vh;
}

/* Estilos de la segunda row (Texto descriptivo) */
.row2 {
    height: 33vh;
}

/* Estilos de la tercera row (parte inferior pagina) */
.row3 {
    height: 50vh;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

/* Estilos del parrafo de texto descriptivo de la col 2 de la row 2 */
.col2 p {
    font-size: small;
    font-style: italic;
    font-family: Quicksand;
    color: rgba(255, 255, 255, 0.753);
}

/* Estilos de los botones de redes sociales */
.col3 button {
    border: 0;
    font-size: small;
}

/* Estilos del texto "Siguenos en redes sociales" */
.col3 p {
    color: rgba(255, 255, 255, 0.753);
    font-size: small;
    margin-bottom: 2px
}

/* MEDIA QUERIES PARA RESPONSIVE */

/* Media query para Nexus 5 , 360px */
@media (max-width: 360px) {

    .container-main {
        background-image: url(../img/bowl360px.jpg);
    }
}

/* Media query para ampliar un poco el tamaño de la letra conforme 
se va aumentando la resolucion del dispositivo. 
Permite un flujo del tamaño de letra del párrafo principal mas óptimo
*/
@media (min-width: 768px) {

    .col2 p {
        font-size: large;
        font-style: italic;
        font-family: Quicksand;
        color: rgba(255, 255, 255, 0.555);
    }
}


/* Media query para PC ordenador >1600px */
@media (min-width: 1600px) {

    /* Estilos de los links del navbar */
    .navbar a {
        margin-left: 30px;
    }
    /* Estilos del logo de la pagina */
    .imgLogo {
        width: 175px;
        height: 85px;
    }
    /* Estilos de la col del parrafo descriptivo */
    .col2 {
        margin-left: 30px;
    }
    /* Estilos del parrafo de la col del parrafo descriptivo */
    .col2 p {
        font-size: x-large;
        font-style: italic;
        font-family: Quicksand;
        color: rgba(255, 255, 255, 0.555);
    }
    /* Estilos del navbar */
    .row1 {
        height: 15vh;
    }
}